@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Roboto";
}

header,
.intro,
footer {
  background-color: #1f2937;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 35px;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
}

section {
  flex: 1;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
}

header .image-container {
  display: flex;
}

header .image-container > h2 {
  align-self: center;
  font-weight: 900;
  color: #f9faf8;
  font-size: 24px;
}
ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* INTRO */

.intro {
  display: flex;
  justify-content: center;
  padding: 50px 300px 150px;
  gap: 80px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  width: 400px;
}

.intro p {
  font-size: 18px;
  color: #e5e7eb;
  width: 450px;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-right: 30px;
}

/* PHOTOS */

.photos {
  text-align: center;
  padding: 50px 250px 100px;
}
.photo-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.photos h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
}

.photos img {
  border: 5px solid #3882f6;
  border-radius: 12px;
}

.photos p {
  color: #1f2937;
  font-size: 18px;
}

/* TESTIMONIAL */

.testimonial {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 150px 100px;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 800px;
}

.testimonial p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.testimonial p:last-child {
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  align-self: flex-end;
}

/* CALL TO ACTION */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.modal {
  display: flex;
  flex: 1 0 auto; /* i had to set shrink to 0 so that container didn't break up when minimizing viewport  */
  flex-flow: column wrap;
  align-items: flex-start;
  background-color: #3882f6;
  color: white;
  height: 50px;
  padding: 50px 250px 50px 100px;
  border-radius: 10px;
  column-gap: 250px;
}

.modal button {
  border: 3px solid white;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
}
footer p {
  color: #e5e7eb;
  font-size: 18px;
}
